@use '../../../styles/mixins';
.mustHave {
  margin-top: 50px;
  width: 100%;
  background-color: var(--main-color);
  @include mixins.mq(tablet) {
    margin-top: 50px;
  }
  @include mixins.mq(desktop) {
    margin-top: 50px;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 1px solid var(--border-color);
    padding: 0px 5px;
    @include mixins.mq(tablet) {
      padding: 0px 10px;
    }
    @include mixins.mq(desktop) {
      padding: 0px 20px;
    }
  }

  &__titleContent {
    padding: 0 10px;
    position: absolute;
    top: -20px;
    background: var(--main-color);
    border: 1px solid var(--border-color);
    @include mixins.mq(desktop) {
      padding: 0 50px;
    }
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.5;
    color: var(--text-color);
    text-align: center;
    @include mixins.mq(tablet) {
      font-size: 21px;
      line-height: 1.5;
    }
    @include mixins.mq(desktop) {
      font-size: 24px;
      line-height: 1.5;
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-color);
    text-align: center;
    @include mixins.mq(tablet) {
      font-size: 16px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }

  &__textTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-color);
    text-align: center;
    @include mixins.mq(tablet) {
      font-size: 16px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }

  &__partContent {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    @include mixins.mq(tablet) {
      flex-direction: row;
      gap: 10px;
    }
  }

  &__textContent {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--table-line-color);
    @include mixins.mq(tablet) {
      padding: 20px 20px;
      width: 50%;
    }
  }

  &__textYes {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
    text-align: left;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background-image: url('../../../images/camp/must_have/check-mark-yes.svg');
      background-size: cover;
    }
  }

  &__textNo {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
    text-align: left;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background-image: url('../../../images/camp/must_have/check-mark-no.svg');
      background-size: cover;
    }
  }

  &__btnPart {
    margin-bottom: 40px;
  }
}
