@use '../../../styles/mixins';
.food {
  width: 100%;
  margin-bottom: 50px;
  background-color: var(--main-color);

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 1px solid var(--border-color);
  }

  &__titleContent {
    padding: 0 10px;
    position: absolute;
    top: -20px;
    background: var(--main-color);
    border: 1px solid var(--border-color);
    @include mixins.mq(desktop) {
      padding: 0 50px;
    }
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.5;
    color: var(--text-color);
    text-align: center;
    @include mixins.mq(tablet) {
      font-size: 21px;
      line-height: 1.5;
    }
    @include mixins.mq(desktop) {
      font-size: 24px;
      line-height: 1.5;
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-color);
    @include mixins.mq(tablet) {
      font-size: 13px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }

  &__textTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-color);
    @include mixins.mq(tablet) {
      font-size: 16px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }

  &__partText {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    @include mixins.mq(tablet) {
      gap: 30px;
      width: 90%;
    }
    @include mixins.mq(desktop) {
      gap: 40px;
      width: 70%;
    }
  }

  &__menuContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    @include mixins.mq(tablet) {
      gap: 0px;
      flex-direction: row;
    }
  }

  &__markContent {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  &__imageMark {
    width: 55px;
    height: 55px;
  }

  &__markPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__textMark {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-color);
    @include mixins.mq(tablet) {
      font-size: 16px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }
}
