@use '../../../styles/mixins';
.areasStudy {
  width: 100%;
  background-color: var(--main-color);

  &__content {
    padding: 0 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 1px solid var(--border-color);
    @include mixins.mq(desktop) {
      padding: 0 20px;
    }
  }

  &__titleContent {
    padding: 0 10px;
    position: absolute;
    top: -20px;
    background: var(--main-color);
    border: 1px solid var(--border-color);
    @include mixins.mq(desktop) {
      padding: 0 50px;
    }
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.5;
    color: var(--text-color);
    text-align: center;
    @include mixins.mq(tablet) {
      font-size: 21px;
      line-height: 1.5;
    }
    @include mixins.mq(desktop) {
      font-size: 24px;
      line-height: 1.5;
    }
  }

  &__partTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.5;
    color: var(--main-color);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    @include mixins.mq(tablet) {
      font-size: 21px;
      line-height: 1.5;
    }
    @include mixins.mq(desktop) {
      font-size: 24px;
      line-height: 1.5;
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-color);
    text-align: center;
    @include mixins.mq(tablet) {
      font-size: 16px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }

  &__partText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    color: var(--main-color);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    @include mixins.mq(tablet) {
      font-size: 15px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }

  &__textTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-color);
    text-align: center;
    @include mixins.mq(tablet) {
      font-size: 16px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }

  &__textContent {
    margin-top: 50px;
    width: 90%;
    @include mixins.mq(tablet) {
      width: 70%;
    }
    @include mixins.mq(desktop) {
      width: 50%;
    }
  }

  &__textContentPart {
    width: 90%;
    @include mixins.mq(tablet) {
      width: 70%;
    }
    @include mixins.mq(desktop) {
      width: 50%;
    }
  }

  &__partContent {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    width: 100%;
    @include mixins.mq(tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
    }
  }

  &__part {
    position: relative;
    width: 100%;
    height: 227px;
    @include mixins.mq(tablet) {
      width: 100%;
      height: 227px;
    }
    @include mixins.mq(desktop) {
      width: 100%;
      height: 407px;
    }
  }

  &__partShadow {
    position: absolute;
    bottom: 0;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 126, 150, 0.3);
    @include mixins.mq(tablet) {
      height: 100%;
    }
    @include mixins.mq(desktop) {
      height: 200px;
    }
  }

  &__partWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__btnWrapper {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__btn {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: var(--main-color);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    transition: color 0.5s, text-shadow 0.5s;
    @include mixins.mq(tablet) {
      font-size: 16px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }

  &__btn:hover {
    color: var(--text-color);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
  }

  &__partDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    border-top: 1px solid #f2f2f2;
  }

  &__partDetailBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    @include mixins.mq(tablet) {
      flex-direction: row;
    }
  }

  &__partDetailWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include mixins.mq(tablet) {
      width: 50%;
    }
  }

  &__text li {
    padding-bottom: 15px;
  }
  &__text li:last-child {
    padding-bottom: 0px;
  }
}
