@use '../../../styles/mixins';
.contacts {
  margin-bottom: 50px;
  width: 100%;
  background-color: var(--main-color);

  &__content {
    padding: 0 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 1px solid var(--border-color);
    @include mixins.mq(tablet) {
      gap: 50px;
    }
  }

  &__titleContent {
    padding: 0 10px;
    position: absolute;
    top: -20px;
    background: var(--main-color);
    border: 1px solid var(--border-color);
    @include mixins.mq(desktop) {
      padding: 0 50px;
    }
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.5;
    color: var(--text-color);
    text-align: center;
    @include mixins.mq(tablet) {
      font-size: 21px;
      line-height: 1.5;
    }
    @include mixins.mq(desktop) {
      font-size: 24px;
      line-height: 1.5;
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-color);
    @include mixins.mq(tablet) {
      font-size: 16px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }

  &__textTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
    color: var(--main-color);
    text-align: center;
    @include mixins.mq(tablet) {
      font-size: 16px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }

  &__part {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    @include mixins.mq(tablet) {
      padding: 0px 10px;
      flex-direction: row;
      justify-content: space-around;
      gap: 10px;
    }
    @include mixins.mq(desktop) {
      gap: 40px;
      padding: 0px 20px;
    }
  }

  &__partList {
    padding: 15px 10px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--accent-color-kindergaten);
    @include mixins.mq(tablet) {
      padding: 15px 15px;
      width: 45%;
    }
    @include mixins.mq(desktop) {
      padding: 20px 35px;
      width: 37%;
      border-radius: 20px;
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: var(--main-color);
    @include mixins.mq(tablet) {
      font-size: 15px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }

  &__iconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: auto;
  }

  &__textContacts {
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: var(--main-color);
    @include mixins.mq(tablet) {
      font-size: 15px;
    }
    @include mixins.mq(desktop) {
      margin-left: 10px;
      font-size: 18px;
    }
  }
}
