@use '../../styles/mixins';
.about {
  margin-top: 185px;
  width: 100%;
  background-color: var(--main-color);
  @include mixins.mq(tablet) {
    margin-top: 195px;
  }
  @include mixins.mq(desktop) {
    margin-top: 200px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
  }

  &__title {
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.5;
    color: var(--accent-color);
    @include mixins.mq(tablet) {
      font-size: 21px;
    }
    @include mixins.mq(desktop) {
      font-size: 24px;
    }
  }

  &__titleOther {
    font-weight: 400;
    color: var(--second-text-color);
  }

  &__main {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 30px;
    width: 100%;
    @include mixins.mq(tablet) {
      flex-direction: row;
      gap: 0;
    }
    @include mixins.mq(desktop) {
      margin-bottom: 40px;
    }
  }

  &__mainAdvantage {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include mixins.mq(tablet) {
      flex-direction: row;
    }
  }

  &__mainPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include mixins.mq(tablet) {
      width: 50%;
    }
  }

  &__photoBorder {
    padding: 10px;
    border: 1px solid var(--accent-color);
    &:hover {
      border-color: var(--background-btn-second-color);
      box-shadow: var(--hover-box-shadow);
    }
  }

  &__mainPhotoContainer {
    margin-bottom: 30px;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    @include mixins.mq(tablet) {
      margin-bottom: 0px;
      width: 50%;
    }
  }

  &__mainPhotoAdvantage {
    width: 100%;
  }

  &__mainTextContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    @include mixins.mq(tablet) {
      width: 65%;
      padding: 0 15px;
    }
    @include mixins.mq(desktop) {
      width: 50%;
      padding: 0 30px;
    }
  }

  &__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__groupText {
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--second-text-color);
    text-align: justify;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
    text-align-last: auto;
    &:last-child {
      margin-bottom: 0px;
    }
    &:first-child {
      margin-bottom: 0px;
    }
    @include mixins.mq(tablet) {
      font-size: 15px;
    }
    @include mixins.mq(desktop) {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  &__partAdvantage {
    padding: 30px 0;
    width: 100%;
    background-color: var(--add-background-color);
    @include mixins.mq(tablet) {
      padding: 30px 0;
    }
    @include mixins.mq(desktop) {
      padding: 40px 0;
    }
  }

  &__advantageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    @include mixins.mq(tablet) {
      gap: 0;
    }
    @include mixins.mq(desktop) {
      gap: 5px;
    }
  }

  &__partProblem {
    padding: 30px 0;
    width: 100%;
    background-color: var(--main-color);
    @include mixins.mq(desktop) {
      padding: 40px 0;
    }
  }

  &__mainProblem {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__btnContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    @include mixins.mq(desktop) {
      margin: 40px 0;
    }
  }

  &__sliderContent {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--accent-color);
    background-color: var(--add-background-color);
  }

  &__sliderPart {
    width: 45%;
  }

  &__sliderContentText {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include mixins.mq(tablet) {
      width: 55%;
    }
  }

  &__sliderContentTitle {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.5;
    color: var(--accent-color);
    @include mixins.mq(tablet) {
      font-size: 21px;
    }
    @include mixins.mq(desktop) {
      font-size: 24px;
    }
  }

  &__sliderContentBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

li:first-child .groupText {
  margin-bottom: 0px;
}

.list {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5;
  color: var(--accent-color);
  cursor: pointer;
  @include mixins.mq(tablet) {
    font-size: 21px;
  }
  @include mixins.mq(desktop) {
    margin-bottom: 15px;
    font-size: 24px;
  }
}

.list:last-child {
  margin-bottom: 0px;
}

.list::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border: 2px solid #017683;
  border-radius: 50%;
  background: transparent;
  vertical-align: middle;
  margin-bottom: 3px;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--second-text-color);
  text-align: justify;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
  text-align-last: auto;
  @include mixins.mq(tablet) {
    padding-left: 20px;
    font-size: 15px;
  }
  @include mixins.mq(desktop) {
    font-size: 18px;
  }
}
