@use '../../../../styles/mixins';
.events {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;

  &__titleContent {
    margin-bottom: 40px;
  }

  &__form {
    margin-top: -20px;
  }

  &__formInput {
    display: flex;
    flex-direction: column;
    @include mixins.mq(tablet) {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
  }

  &__part {
    width: 100%;
    height: 80px;
    @include mixins.mq(tablet) {
      width: 31%;
      height: 85px;
    }
    @include mixins.mq(desktop) {
      height: 75px;
    }
  }

  &__partBackground {
    width: 100%;
    height: 38px;
    background-color: #e8f0fd;
    @include mixins.mq(tablet) {
      height: 48px;
    }
  }

  &__textContant {
    margin-bottom: 25px;
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.5;
    color: var(--text-color);
    text-align: center;
    @include mixins.mq(tablet) {
      font-size: 21px;
      line-height: 1.5;
    }
    @include mixins.mq(desktop) {
      font-size: 24px;
      line-height: 1.5;
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-color);
    @include mixins.mq(tablet) {
      font-size: 16px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }

  &__wrap {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @include mixins.mq(tablet) {
      margin-top: 5px;
      align-items: flex-start;
    }
    @include mixins.mq(desktop) {
      margin-top: 10px;
    }
  }
}
