@use '../../../styles/mixins';
.ournetwork {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  background-color: var(--main-color);
  @include mixins.mq(desktop) {
    margin-bottom: 100px;
  }

  &__partNetwork {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    @include mixins.mq(tablet) {
      flex-direction: column;
      justify-content: space-around;
    }
    @include mixins.mq(desktop) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__partNetworkWrapper {
    position: relative;
    width: 100%;
    height: 550px;
    @include mixins.mq(tablet) {
      width: 100%;
      height: 350px;
    }
    @include mixins.mq(desktop) {
      width: 550px;
      height: 550px;
    }
  }

  &__partNetworkConteiner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 550px;
    padding: 40px 10px;
    background-color: var(--accent-color-kindergaten);
    @include mixins.mq(tablet) {
      padding: 40px;
      height: 390px;
    }
    @include mixins.mq(desktop) {
      top: 50px;
      left: 55px;
      width: 600px;
      height: 550px;
      padding: 50px;
    }
  }

  &__partNetworkTitleWrapper {
    width: 100%;
    align-items: self-start;
    @include mixins.mq(tablet) {
      align-items: center;
    }
    @include mixins.mq(desktop) {
      align-items: self-start;
    }
  }

  &__partNetworkTitle {
    @include mixins.mq(desktop) {
      width: 70%;
    }
  }

  &__partNetworkList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__partNetworkListDetail::before {
    @include mixins.mq(tablet) {
      content: '•';
      display: inline-block;
      width: 10px;
      margin-right: 10px;
      color: var(--main-color);
      align-self: center;
    }
  }

  &__partNetworkListWrapper {
    display: flex;
    flex-direction: column;
    @include mixins.mq(tablet) {
      gap: 10px;
    }
  }

  &__partNetworkListDetail {
    display: flex;
    flex-direction: row;
  }

  &__partNetworkName {
    margin-right: 5px;
    font-weight: 600 !important;
  }

  &__imageNetwork {
    margin-top: 50px;
    max-width: 660px;
    max-height: 550px;
    width: 100%;
    height: auto;
    @include mixins.mq(tablet) {
      max-width: 702px;
      width: 100%;
    }
    @include mixins.mq(desktop) {
      margin-top: 0px;
      max-width: 660px;
      max-height: 550px;
    }
  }
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.5;
  color: var(--main-color);
  text-align: center;
  @include mixins.mq(tablet) {
    font-size: 21px;
    text-align: center;
  }
  @include mixins.mq(desktop) {
    text-align: left;
    font-size: 24px;
  }
}

.text {
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 15px;
  line-height: 1.2;
  color: var(--main-color);
  @include mixins.mq(tablet) {
    margin-bottom: 0px;
    font-size: 16px;
  }
  @include mixins.mq(desktop) {
    font-size: 18px;
  }
}
