@use '../../../styles/mixins';
.catalog {
  width: 100%;
  background-color: var(--main-color);

  &__content {
    padding: 0 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1px solid var(--border-color);
  }

  &__titleContent {
    padding: 0 10px;
    position: absolute;
    top: -20px;
    background: var(--main-color);
    border: 1px solid var(--border-color);
    @include mixins.mq(desktop) {
      padding: 0 50px;
    }
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 21px;
    line-height: 1.5;
    color: var(--text-color);
    text-align: center;
    @include mixins.mq(tablet) {
      font-size: 21px;
      line-height: 1.5;
    }
    @include mixins.mq(desktop) {
      font-size: 24px;
      line-height: 1.5;
    }
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-color);
    @include mixins.mq(tablet) {
      font-size: 16px;
    }
    @include mixins.mq(desktop) {
      font-size: 18px;
    }
  }
}

.imageContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px 40px;
  width: 100%;
  cursor: pointer;
  @include mixins.mq(tablet) {
    gap: 10px 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  @include mixins.mq(desktop) {
    gap: 10px 10px;
  }
}

.image {
  height: 350px;
  @include mixins.mq(tablet) {
    height: 380px;
  }
  @include mixins.mq(desktop) {
    height: 450px;
  }
}

.image:hover {
  border-color: 1px solid #fd821f;
  box-shadow: var(--hover-notes-shadow);
}

.navigation {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.btn {
  background-color: transparent;
}

.btn:hover {
  color: var(--accent-color);
  transition: border-color 0.3s ease-out;
}
